{% if include.src %}
  {% capture img_src %}/assets/images/{{ include.src }}{% endcapture %}
  <div class="group">
    <div class="group-item" style="width: {{ include.width | default: '100%' }};height: {{ include.height | default: 'auto' }};">
      <div class="imagecontainer is-contain {% if include.shape %} {{include.shape}} {% endif %}" >
        <a data-fslightbox="gallery" href="{{include.large_src | default: img_src | relative_url}}" alt="{{include.alt | default: ''}}" title="{{include.title | default: include.alt}}">
          <img data-src="{{img_src | relative_url}}" alt="{{include.alt | default: ''}}" title="{{include.title | default: include.alt}}" {% if site.data.thumbhash[include.src] %} src="data:image/png;base64,{{site.data.thumbhash[include.src]}}" {% endif %} class="imagecontainer-img lazyload {{include.class | default: ''}}" />
        </a>
      </div>
    </div>
  </div>
{% endif %}
